.story-container {
  position: relative;
  overflow: hidden;
}

.story-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background: rgba(0, 0, 0, 0.75); /* Черный фон с прозрачностью */
  color: white;
  font-size: 1.25rem; /* Размер текста */
  font-weight: bold; /* Жирный текст */
}
